<table width="100%" cellpadding="12" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td>
            <div style="overflow: hidden;"><font size="-1"><u></u>

                <div marginwidth="0" marginheight="0"
                     style="margin:0;padding:0;background-color:#f2f2f2;min-height:100%!important;width:100%!important">
                    <center>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
                               style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
                            <tbody>
                            <tr>
                                <td align="center" valign="top"
                                    style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important">
                                    <table border="0" cellpadding="0" cellspacing="0" width="600"
                                           style="border-collapse:collapse;border:0">
                                        <tbody>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="600"
                                                       style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" style="padding-top:9px">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   width="100%"
                                                                   style="background-color:#4caf50;border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="padding:18px">
                                                                        <table border="0" cellpadding="0"
                                                                               cellspacing="0" width="100%"
                                                                               style="border-top-width:1px;border-top-style:solid;border-top-color:#4caf50;border-collapse:collapse">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <span></span>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="600"
                                                       style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <table align="left" border="0" cellpadding="0"
                                                                               cellspacing="0" width="600"
                                                                               style="border-collapse:collapse">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="padding:9px 18px;font-size:16px;color:#606060;font-family:Helvetica;line-height:150%;text-align:left">
                                                                                    <div style="text-align:center">
                                                                                        DisaPainted.com
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="600"
                                                       style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <table align="left" border="0" cellpadding="0"
                                                                               cellspacing="0" width="600"
                                                                               style="border-collapse:collapse">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">
                                                                                    <h1 style="margin:0;padding:0;display:block;font-family:Helvetica;font-size:40px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:-1px;text-align:left;color:#606060!important">
                                                                                        Comment!</h1>
                                                                                    Your animation <a target="_blank" href="{{ animUrl }}?utm_source=newsletter&amp;utm_medium=email&amp;utm_content=animTitleLink&amp;utm_campaign=notifications">{{ animTitle }}</a>
                                                                                    was commented by user
                                                                                    <a target="_blank" href="http://disapainted.com/users/{{ username }}?utm_source=newsletter&amp;utm_medium=email&amp;utm_content=userLink&amp;utm_campaign=notifications">
                                                                                        {{ username }}</a><br>
                                                                                    Comment:<br>
                                                                                    {{ notificationData }}
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td valign="top" style="padding:9px">
                                                                        <table align="left" width="100%" border="0"
                                                                               cellpadding="0" cellspacing="0"
                                                                               style="border-collapse:collapse">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                                                    <a href="{{ animUrl }}?utm_source=newsletter&amp;utm_medium=email&amp;utm_content=animImgLink&amp;utm_campaign=notifications"
                                                                                       target="_blank">
                                                                                        <img align="center" alt=""
                                                                                             src="{{ animThumb }}"
                                                                                             width="300"
                                                                                             style="max-width:300px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none">
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="600"
                                                       style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" style="padding-bottom:9px">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px"
                                                                        valign="top" align="center">
                                                                        <table border="0" cellpadding="0"
                                                                               cellspacing="0"
                                                                               style="border-collapse:separate!important;border:2px none #707070;border-radius:5px;background-color:#4caf50">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td align="center" valign="middle"
                                                                                    style="font-family:Arial;font-size:16px;padding:16px">
                                                                                    <a title="Visit disapainted.com"
                                                                                       href="http://disapainted.com/?utm_source=newsletter&amp;utm_medium=email&amp;utm_content=buttonlink&amp;utm_campaign=notifications"
                                                                                       style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;word-wrap:break-word"
                                                                                       target="_blank">Visit
                                                                                        disapainted.com</a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center" valign="top" style="padding:9px">
                                                                        <table border="0" cellpadding="0"
                                                                               cellspacing="0" width="100%"
                                                                               style="border-collapse:collapse">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding-left:9px;padding-right:9px">
                                                                                    <table border="0" cellpadding="0"
                                                                                           cellspacing="0" width="100%"
                                                                                           style="border:1px solid #eeeeee;background-color:#fafafa;border-collapse:collapse">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td align="center"
                                                                                                valign="top"
                                                                                                style="padding-top:9px;padding-right:9px;padding-left:9px">
                                                                                                <table border="0"
                                                                                                       cellpadding="0"
                                                                                                       cellspacing="0"
                                                                                                       style="border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td valign="top">
                                                                                                            <table align="left"
                                                                                                                   border="0"
                                                                                                                   cellpadding="0"
                                                                                                                   cellspacing="0"
                                                                                                                   style="border-collapse:collapse">
                                                                                                                <tbody>
                                                                                                                <tr>
                                                                                                                    <td align="center"
                                                                                                                        valign="top"
                                                                                                                        style="padding-right:10px;padding-bottom:5px">
                                                                                                                        <a href="https://www.facebook.com/pages/DisaPaintedcom/163397210417431"
                                                                                                                           style="word-wrap:break-word"
                                                                                                                           target="_blank"><img
                                                                                                                                src="https://ci3.googleusercontent.com/proxy/g6FtADNL7Sv6fmPqvszVWCqAbU0tjF_Gc6HVsQzehNF03FiexbApFmdikQPIzKGp9w5NcePMdldTFYdEICqQt_qAwqKVXbFmFAUoUr1WUWdygv3SQvBUCixcsUN05T2SOg=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png"
                                                                                                                                alt="Facebook"
                                                                                                                                width="48"
                                                                                                                                style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none"></a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td align="center"
                                                                                                                        valign="top"
                                                                                                                        style="padding-right:10px;padding-bottom:9px">
                                                                                                                        <a href="https://www.facebook.com/pages/DisaPaintedcom/163397210417431"
                                                                                                                           style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word"
                                                                                                                           target="_blank">Facebook</a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                            <table align="left"
                                                                                                                   border="0"
                                                                                                                   cellpadding="0"
                                                                                                                   cellspacing="0"
                                                                                                                   style="border-collapse:collapse">
                                                                                                                <tbody>
                                                                                                                <tr>
                                                                                                                    <td align="center"
                                                                                                                        valign="top"
                                                                                                                        style="padding-right:10px;padding-bottom:5px">
                                                                                                                        <a href="https://twitter.com/DisaPainted"
                                                                                                                           style="word-wrap:break-word"
                                                                                                                           target="_blank"><img
                                                                                                                                src="https://ci5.googleusercontent.com/proxy/hFOjQ4wBdntqcGvfhBxlewt4oRPay1AgDxeGA2KSt6GX8xUpulayqoXVVNqwuZ0g7QlJixaZglnX02_rfg0tjqG9O0bvjNY-3whYug2Kp-2prncKll_iWKHP15CaRUlu=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png"
                                                                                                                                alt="Twitter"
                                                                                                                                width="48"
                                                                                                                                style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none"></a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td align="center"
                                                                                                                        valign="top"
                                                                                                                        style="padding-right:10px;padding-bottom:9px">
                                                                                                                        <a href="https://twitter.com/DisaPainted"
                                                                                                                           style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word"
                                                                                                                           target="_blank">Twitter</a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                            <table align="left"
                                                                                                                   border="0"
                                                                                                                   cellpadding="0"
                                                                                                                   cellspacing="0"
                                                                                                                   style="border-collapse:collapse">
                                                                                                                <tbody>
                                                                                                                <tr>
                                                                                                                    <td align="center"
                                                                                                                        valign="top"
                                                                                                                        style="padding-right:0;padding-bottom:5px">
                                                                                                                        <a href="https://github.com/madvas/disapainted"
                                                                                                                           style="word-wrap:break-word"
                                                                                                                           target="_blank"><img
                                                                                                                                src="https://ci6.googleusercontent.com/proxy/6KMOL-ec-xC8PRPN3tGraBjaNDgPK0Hr0uGObIPcj8qy0jIFOozw4g45b9gm7LeuHrKrMQb43OC-IzvL66J85fDrvQooqfWghBjYnuU8FBHxz9tpg-PDxQk_01NS=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-96.png"
                                                                                                                                alt="Github"
                                                                                                                                width="48"
                                                                                                                                style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none"></a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td align="center"
                                                                                                                        valign="top"
                                                                                                                        style="padding-right:0;padding-bottom:9px">
                                                                                                                        <a href="https://github.com/madvas/disapainted"
                                                                                                                           style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word"
                                                                                                                           target="_blank">Github</a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <table align="left" border="0" cellpadding="0"
                                                                               cellspacing="0" width="600"
                                                                               style="border-collapse:collapse">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">
                                                                                    <div style="text-align:center"><a
                                                                                            href="{{ unsubscribeUrl }}"
                                                                                            style="word-wrap:break-word;color:#606060;font-weight:normal;text-decoration:underline"
                                                                                            target="_blank">unsubscribe
                                                                                        from&nbsp;these
                                                                                        notifications</a></div>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </center>
                </div>
            </font></div>
        </td>
    </tr>
    </tbody>
</table>
