<md-input-container>
  <label>Your Email</label>
  <input name="email" ng-model="vm.email" type="email" required>

  <div ng-if="userForm.email.$dirty" ng-messages="userForm.email.$error">
    <div ng-message="email">This is not correct format of an email.</div>
    <div ng-message="required">Email is required</div>
  </div>
</md-input-container>
<div class="text-right mar-top-15">
  <md-button data-ng-click="vm.askForPasswordReset()" data-ng-disabled="!userForm.$valid"
             aria-label="Send"> Send
  </md-button>
</div>
