<md-input-container>
  <label>New Password</label>
  <input name="password" ng-model="vm.newPass" type="password" required ng-minlength="6">
  <div ng-if="userForm.password.$dirty" ng-messages="userForm.password.$error">
    <div ng-message="minlength">Password should be at least 6 characters long</div>
    <div ng-message="required">Password is required</div>
  </div>
</md-input-container>

<md-input-container>
  <label>Repeat Password</label>
  <input name="repeatPassword" ng-model="vm.repeatPass" type="password"
         data-dp-repeat-password="vm.newPass" required ng-minlength="6">
  <div ng-if="userForm.repeatPassword.$dirty" ng-messages="userForm.repeatPassword.$error">
    <div ng-message="mismatch">Passwords do not match</div>
  </div>
</md-input-container>

<div class="text-right mar-top-15">
  <md-button data-ng-click="vm.resetUserPassword()" data-ng-disabled="!userForm.$valid"
             aria-label="Update Password">Update Password</md-button>
</div>
