<md-dialog aria-label="Do you really want to delete this animation">
  <md-content>
    <md-subheader class="md-sticky-no-effect">Do you really want to delete this animation</md-subheader>
    <p>Please think twice, once the animation is deleted, it's lost forewer!</p>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button data-ng-click="vm.mdDialog.cancel()">Cancel</md-button>
    <md-button data-ng-click="vm.mdDialog.hide()" class="md-warn">Delete Animation</md-button>
  </div>
</md-dialog>
