<md-text-float label="Current Password" ng-model="vm.passwordDetails.currentPass"
               type="password" name="current"></md-text-float>
<md-text-float label="New Password" minlength="6" name="new" data-ng-required="true"
               ng-model="vm.passwordDetails.newPass" type="password"></md-text-float>
<md-text-float label="Repeat Password" minlength="6" data-ng-required="true" name="repeat"
               ng-model="vm.passwordDetails.repeatPass" data-dp-repeat-password="vm.passwordDetails.newPass"
               type="password" class="md-text-float"></md-text-float>
<div class="mar-top-15" data-ng-class="{'msg-invalid' : userForm.new.$error.minlength}">
  Password shoud have at least 6 characters
</div>
<div data-ng-class="{'msg-invalid' : userForm.repeat.$error.mismatch}">
  Password shoud match
</div>
<div class="text-right mar-top-15">
  <md-button data-ng-click="vm.changePassword()"
             data-ng-disabled="!userForm.$valid"
             aria-label="Change Password">
    <i class="icon-save"></i> Save
  </md-button>
</div>
