<footer class="footer col-xs-12 hpad-0" role="contentinfo">
  <div class="footer-social">
    <ul class="footer-social-btns list-inline">
      <li>
        <iframe class="github-btn"
                src="http://ghbtns.com/github-btn.html?user=madvas&amp;repo=disapainted&amp;type=watch&amp;count=true"
                width="100" height="20" title="Star on GitHub"></iframe>
      </li>
      <li>
        <a href="https://twitter.com/disapainted" class="twitter-follow-button" data-show-count="false">Follow @disapainted</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
      <li><a href="https://twitter.com/share" data-url="http://disapainted.com" class="twitter-share-button" data-via="disapainted">Tweet</a>
        <script>!function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, 'script', 'twitter-wjs');</script>
      </li>
    </ul>
  </div>
</footer>
